<div class="about-container d-flex flex-lg-row flex-column align-items-center text-center">
  <div class="qualification-container">
    <img
      src="../../../assets/img/user.png"
      alt="qualification"
      class="face-img img-fluid"
      width="250"
    />
    <h1 class="name">Alejandro Rodriguez</h1>
    <p class="qualification">Frontend & Server Management</p>
  </div>
  <div class="text-about">
    <h3 class="section-title">Sobre mí</h3>
    <p class="about-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Tempore, illum
      dolor placeat praesentium eius
      qui laboriosam iste incidunt, omnis cum
      dignissimos reiciendis veniam assumenda fugit nam, aperiam nulla suscipit
      quo!
    </p>
  </div>
</div>
