<div
  class="about-container d-flex flex-lg-row flex-column align-items-center text-center"
>
  <div class="qualification-container">
    <img
      src="../../../assets/img/user.png"
      alt="qualification"
      class="face-img img-fluid"
      width="250"
    />
    <h1 class="name">Alejandro Rodriguez</h1>
    <p class="qualification">Frontend & Server Management</p>
  </div>
  <div class="text-about">
    <h3 class="section-title">Sobre mí</h3>
    <p class="about-description">
      Soy un desarrollador Front-End especializado en Angular, apasionado por
      crear interfaces dinámicas, intuitivas y de alto rendimiento. Con
      experiencia en el desarrollo de soluciones escalables, optimizo cada
      detalle para garantizar una experiencia de usuario fluida y eficiente.
      Además, administro servidores de diversos tipos, asegurando su
      configuración, seguridad y rendimiento óptimo. Mi enfoque combina
      innovación y eficiencia para transformar ideas en productos digitales
      sólidos y funcionales.
    </p>
    <div class="d-flex justify-content-center">
      <app-card-code></app-card-code>
    </div>
  </div>
</div>
