<!-- about -->
<div class="about" >
  <a class="bg_links social portfolio" (click)="navigateToSection('about')">
     <span class="icon"></span>
  </a>
  <a class="bg_links social dribbble" (click)="navigateToSection('skills') ">
     <span class="icon"></span>
  </a>
  <a class="bg_links social linkedin"  (click)="navigateToSection('projects')">
     <span class="icon"></span>
  </a>
  <a class="bg_links social header"  (click)="navigateToSection('header')">
     <span class="icon"></span>
  </a>
  <a class="bg_links logo"></a>
</div>
<!-- end about -->




