<!-- about -->
<div class="about" >
  <a class="bg_links social portfolio" (click)="navigateToSection('about')"  data-bs-toggle="tooltip"
     data-bs-placement="top"
     title="Acerca de mí">
     <span class="icon"></span>
  </a>
  <a class="bg_links social dribbble" (click)="navigateToSection('skills')" data-bs-toggle="tooltip"
     data-bs-placement="top"
     title="Habilidades">
     <span class="icon"></span>
  </a>
  <a class="bg_links social linkedin"  (click)="navigateToSection('projects')" data-bs-toggle="tooltip"
     data-bs-placement="top"
     title="Proyectos">
     <span class="icon"></span>
  </a>
  <a class="bg_links social header"  (click)="navigateToSection('header')" data-bs-toggle="tooltip"
     data-bs-placement="top"
     title="Inicio" >
     <span class="icon"></span>
  </a>
  <a class="bg_links logo"></a>
</div>
<!-- end about -->




