$gray-light: #86868b;
$gray-dark: #2b2b2b;
$gray-darker: #131313;
$blue-primary: #1561f0;
$green-primary: #0f0;

@mixin neon-glow($color: $green-primary) {
  @keyframes neonGlow {
    0% {
      text-shadow: 0 0 5px $color, 0 0 10px $color;
    }
    50% {
      text-shadow: 0 0 10px $color, 0 0 20px $color, 0 0 30px $color;
    }
    100% {
      text-shadow: 0 0 5px $color, 0 0 10px $color;
    }
  }
}

/* You can add global styles to this file, and also import other style files */
// *{
//   margin: 0 !important;
//   padding-top: 8px !important;
//   box-sizing: border-box  !important;
// }
* {
  background-color: $gray-darker;
  // margin: auto;
}
//General button style
.custom-btn {
  width: 130px;
  height: 40px;
  color: $gray-darker;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  // margin-top: 12px;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  animation: neonGlow 1.5s infinite alternate;
  color: $green-primary !important;
  text-shadow: 0 0 5px $green-primary, 0 0 10px $green-primary;
  animation: neonGlowTerminal 1.5s infinite alternate;
  font-size: 1.5rem !important; /* Ajustar tamaño si es necesario */
  display: inline-block; /* Asegurar que se muestre correctamente */
}

.btn-12 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  perspective: 230px;

  span {
    background: $gray-light;
    // background: linear-gradient(
    //   0deg,
    //   rgba(0, 172, 238, 1) 0%,
    //   rgba(2, 126, 251, 1) 100%
    // );
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.3s;

    &:nth-child(1) {
      box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
      transform: rotateX(90deg);
      transform-origin: 50% 50% -20px;
    }

    &:nth-child(2) {
      transform: rotateX(0deg);
      transform-origin: 50% 50% -20px;
    }
  }

  &:hover {
    span:nth-child(1) {
      box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
      transform: rotateX(0deg);
    }

    span:nth-child(2) {
      box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
      color: transparent;
      transform: rotateX(-90deg);
    }
  }
}

//Navbar style
.nav-bar-container {
  padding: 1rem 3rem !important;
  background: linear-gradient(
    135deg,
    $gray-darker 0%,
    lighten($gray-darker, 10%) 25%,
    $gray-dark 50%,
    darken($gray-darker, 10%) 100%
  );
  display: flex;

  .nav-bar-right {
    background: transparent;
    .social-icons {
      background-color: transparent;
      a:hover {
        transform: matrix(1.1, 0, 0, 1.1, 0, 0) !important;
      }

      a {
        @keyframes neonGlowTerminal {
          0% {
            text-shadow: 0 0 5px $green-primary, 0 0 10px $green-primary;
          }
          50% {
            text-shadow: 0 0 10px $green-primary, 0 0 20px $green-primary,
              0 0 30px $green-primary;
          }
          100% {
            text-shadow: 0 0 5px $green-primary, 0 0 10px $green-primary;
          }
        }
        color: $green-primary !important;
        text-shadow: 0 0 5px $green-primary, 0 0 10px $green-primary;
        animation: neonGlowTerminal 1.5s infinite alternate;
        font-size: 1.5rem !important; /* Ajustar tamaño si es necesario */
        display: inline-block; /* Asegurar que se muestre correctamente */

        margin-right: 1rem;
        text-decoration: none !important;
        font-size: 2rem !important;
        color: $gray-darker !important;
        .bi {
          background: transparent !important;
          box-shadow: none !important;
        }
      }

      .glowing-terminal {
        color: $green-primary !important; /* Color principal */
        animation: neonGlowTerminal 1.5s infinite alternate linear !important; /* Animación */
      }

      .social-linkedin:hover {
        color: #0077b5 !important;
      }
      .social-github:hover {
        color: #fff !important;
      }
      .social-whatsapp:hover {
        color: #25d366 !important;
      }
      .social-instagram:hover {
        color: #e1306c !important;
      }
    }
  }

  .nav-bar-left {
    background-color: transparent;

    .navbar-brand {
      background-color: transparent;
      .logo {
        width: 100px;
        height: 100px;
        background-color: transparent;
      }
    }

    .test-logo {
      // background-color: #000000;
      background-color: transparent;
      // background-color: transparent;
      color: $green-primary;
      // color: $gray-dark;
      font-family: "Courier New", Courier, monospace;
      padding: 1rem;
      border-radius: 8px;

      // width: fit-content;
      // box-shadow: 0 0 10px $green-primary;
      h2 {
        font-size: 1.9rem;
        font-weight: bold;
        text-shadow: 0 0 5px $green-primary, 0 0 10px $green-primary;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        white-space: nowrap;
        overflow: hidden;
      }

      .command {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent;

        &::before {
          content: "Portafolio$ ";
          color: $green-primary;
          font-weight: bold;
        }
      }

      .typing {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        background-color: transparent;
        // border-right: 2px solid $gray-light;
        max-width: 100%;
        width: 0;
        animation: typing 3s steps(20, end) forwards, cursor-blink 0.8s infinite;

        &::after {
          content: "_";
          display: inline-block;
          animation: blink 0.8s infinite;
          color: $green-primary;
        }
      }

      @keyframes blink {
        50% {
          opacity: 0;
        }
      }

      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }

      @keyframes cursor-blink {
        50% {
          border-color: transparent;
        }
      }
    }
  }
}
//navbar style end

//Banner style
.banner-container {
  // background-color: transparent;
  // background-image: url("./assets/img/LUNA.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-color: rgba(0, 0, 0, 0.8); /* Negro con 50% de opacidad */
  // background-blend-mode: darken; /* Mezcla el color con la imagen */
  // margin: 0 50px;
  position: relative;
  .title-banner {
    font-family: "Courier New", Courier, monospace;
    font-size: 4.5rem;
    color: $green-primary; /* Verde neón */
    text-shadow: 0 0 5px $green-primary,
      /* Brillo cercano */ 0 0 10px $green-primary,
      /* Brillo medio */ 0 0 20px $green-primary,
      /* Brillo extendido */ 0 0 40px $green-primary,
      /* Halo más amplio */ 0 0 80px $green-primary; /* Sombra más lejana */
    background: transparent;
    // margin-top: 1em;
  }
}

//Banner style end

//About style

.about-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  // margin: 0 50px;
  padding-top: 5%;
  display: flex;
  justify-content: center;

  .qualification-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .face-img {
      border-radius: 50%;
      width: 200px;
      // position: fixed;
      // transform: translateX(-50%);
      z-index: 9999;
    }

    .name {
      font-size: 2rem;
      text-shadow: 3px 3px 5px $gray-light;
      @keyframes neonGlowTerminal {
        0% {
          text-shadow: 0 0 5px $green-primary, 0 0 10px $green-primary;
        }
        50% {
          text-shadow: 0 0 10px $green-primary, 0 0 20px $green-primary,
            0 0 30px $green-primary;
        }
        100% {
          text-shadow: 0 0 5px $green-primary, 0 0 10px $green-primary;
        }
      }
      color: $green-primary !important;
      text-shadow: 0 0 5px $green-primary, 0 0 10px $green-primary;
      animation: neonGlowTerminal 1.5s infinite alternate;
      display: inline-block; /* Asegurar que se muestre correctamente */
    }

    .qualification {
      font-size: 1.5rem;
  }
  p {
    color: $green-primary; // Asegúrese de definir este color en su SCSS
    font-family: "Courier New", Courier, monospace;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  p::after {
    content: "|";
    display: inline-block;
    animation: blink 0.8s infinite;
    color: $green-primary;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}

  .text-about {
    max-width: 600px;
    text-align: justify;
    font-size: 1rem;
     margin: 8% 0 0 5%; // (arriba, derecha, abajo, izquierda)

     .section-title{
      text-align: center;
      margin-bottom: 1em;
      font-size: 2rem;
      color: $gray-light; /* Verde neón */
      text-shadow: 0 0 5px $gray-light,
        /* Brillo cercano */ 0 0 10px $gray-light,
        /* Brillo medio */ 0 0 20px  $gray-light,
        /* Brillo extendido */ 0 0 40px $gray-light,
        /* Halo más amplio */ 0 0 80px  $green-primary; /* Sombra más lejana */
  }
  .about-description{
    color: $gray-light;
    font-size: 16px;
    line-height: 1.5;
  }
}

}

// }



//Responsive

@media (max-width: 992px) {
  .about-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    .qualification-container{
      font-size: 1rem;
      .name{
       display: none;

      }
      p{
        box-shadow: none;
      }
    }
    .text-about {
      margin: 0;
      padding: 0 1rem;
      .section-title{
        font-size: 1.5rem;
      }

    }
  }


   //Banner style
   .banner-container {
    // margin: 0 10px;
    .title-banner {
      font-size: 2.5rem;
      // margin-top: 3em;
      text-align: center;
    }
  }
}

@media (min-width: 759px) and (max-width: 1220px) {
  .nav-bar-left {
    .navbar-brand {
      // background-color: $gray-dark !important;

      .logo {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 760px) {
  .nav-bar-container {
    flex-direction: column;
    padding: 1rem;
    text-align: center;

    .nav-bar-left {
      width: 100%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 100%;
      word-wrap: break-word;
      white-space: normal;

      .test-logo {
        width: 60%;
        position: relative;
        h2 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 9999;
          // background: rgba(0, 0, 0, 0.7); // Opcional, para mejorar visibilidad
          // color: $gray-light;
          text-align: center;
          width: 100%;
          // width: 80%;
          .command::before {
            content: ""; /* Oculta el texto */
          }
          .typing {
            line-height: 10px;
            font-size: 12px;
            white-space: pre-line; /* Permite saltos de línea */
            display: block; /* Asegura que se comporte como bloque */
            text-align: center; /* Centra el texto */
          }
        }
        .command {
          &::before {
            content: "";
            font-size: 12px;
          }
        }
      }

      .navbar-brand {
        // background-color: $gray-dark;
        align-items: center;
        .logo {
          width: 50px;
          height: 50px;
        }
      }
    }
    .nav-bar-right {
      align-items: center;
      width: 100%;
      justify-content: space-between;

      .social-icons {
        .social-linkedin {
          a {
            font-size: 1rem !important;
          }
          color: #0077b5 !important;
          font-size: 1rem !important;
        }
        .social-github {
          font-size: 1rem !important;
          color: #181717 !important;
        }
        .social-whatsapp {
          font-size: 1rem !important;
          color: #25d366 !important;
        }
        .social-instagram {
          font-size: 1rem !important;
          color: #e1306c !important;
        }
      }
    }
    .custom-btn {
      width: 100%;
      max-width: 150px;
      height: auto;
      font-size: 0.9rem;
      padding: 0.4rem 1rem;
    }
  }

  //Banner style
  .banner-container {
    // margin: 0 10px;
    .title-banner {
      font-size: 2.5rem;
      // margin-top: 3em;
      text-align: center;
    }
  }
}
