<div class="card">
  <div class="card-back">
      <div class="line-numbers">
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
          <div>5</div>
          <div>6</div>
          <div>7</div>
          <div>8</div>
          <div>9</div>
      </div>
      <code>
          <span class="variable">const</span>
          <span class="function">aboutMe</span>
          <span class="operator">=</span>
          <span class="brace">{{curlyLeft}}</span>
              <div class="indent">
                  <span class="property">name</span>
                  <span class="operator">:</span>
                  <span class="string">'Alejandro Rodriguez'</span>
                  <span>,</span>
              </div>
              <div class="indent">
                  <span class="property">title</span>
                  <span class="operator">:</span>
                  <span class="string">'Desarrollador Front-End'</span>
                  <span>{{comma}}</span>
              </div>
              <div class="indent">
                  <span class="property">contact</span>
                  <span class="operator">:</span>
                  <span class="brace">{{curlyLeft}}</span>
                  <div class="indent">
                      <span class="property">email</span>
                      <span class="operator">:</span>
                      <span class="string">{{correo}}</span>
                      <span>{{comma}}</span>
                  </div>
                  <div class="indent">
                      <span class="property">website</span>
                      <span class="operator">:</span>
                      <span class="string">'http://localhost:4200/'</span>
                  </div>
                  <span class="brace">{{curlyRight}}</span>
              </div>
          <span class="brace">{{curlyRight}}</span>
      </code>
  </div>
  <div class="card-front">
      <div class="line-numbers">
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
          <div>5</div>
          <div>6</div>
          <div>7</div>
          <div>8</div>
          <div>9</div>
      </div>
      <code>
          <span class="variable">this</span>
          <span>.</span>
          <span class="method">addEventListener</span>
          <span>(</span>
          <span class="string">'mouseover'</span>
          <span>{{comma}}</span>
          <span class="function">() =&gt;</span>
          <span class="brace">{{curlyLeft}}</span>
              <div class="indent">
                  <span class="variable">this</span>
                  <span>.</span>
                  <span class="property">flipCard</span>
                  <span class="operator">=</span>
                  <span class="boolean">true</span>
                  <span>;</span>
              </div>
          <span class="brace">{{curlyRight}}</span>
          <span>);</span>
      </code>
  </div>
</div>
